openapi: 3.1.0

info:
  title: HealthLog API
  version: 1.4.0
  description: |
    REST API for HealthLog — a personal health-tracking PWA covering weight,
    blood pressure, pulse, mood, medication compliance, blood glucose, body
    composition (total body water + bone mass), pulse oximetry (SpO2), and
    sleep. The same API powers the Next.js web client and the native iOS
    client.

    ## Authentication

    All non-public endpoints accept either a session cookie (`healthlog_session`,
    obtained via password login or passkey verification) or a long-lived Bearer
    token (`Authorization: Bearer hlk_...`) issued via `/api/tokens`. The two
    schemes are interchangeable on user endpoints — clients pick whichever
    suits them (cookies for the web app, Bearer for the iOS client and
    machine-to-machine integrations). Admin endpoints (`/api/admin/*`) accept
    only the session cookie; Bearer tokens never elevate to admin.

    The API uses an envelope response shape: `{ data, error }`. On success,
    `data` carries the payload and `error` is `null`. On failure, `data` is
    `null` and `error` is a human-readable message.

    ## Conventions

    - All timestamps are ISO 8601 (`date-time`) in UTC.
    - All numeric IDs are CUIDs (opaque strings).
    - Pagination uses `limit` + `offset` query parameters; responses include
      a `meta: { total, limit, offset }` block.
    - Rate limiting is applied per-IP or per-user on auth, ingest, export,
      AI, and bug-report endpoints. Exceeding the budget yields a `429`.

    ## Admin endpoints

    Routes under `/api/admin/*` are tagged `Admin` and are intended for the
    internal admin UI only. iOS clients should not consume them.
  contact:
    name: HealthLog
    url: https://healthlog.bombeck.io
  license:
    name: MIT
    url: https://github.com/MBombeck/healthlog/blob/main/LICENSE

servers:
  - url: https://healthlog.bombeck.io
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Auth
    description: Registration, login (password + passkey/WebAuthn), logout, session info, profile, password change.
  - name: Measurements
    description: CRUD for measurements (weight, BP, pulse, body fat, glucose, sleep, steps).
  - name: Medications
    description: Medication management, schedules, intake events, compliance, reminder phase config.
  - name: Mood
    description: Mood entries (manual + moodLog imports) and mood analytics.
  - name: Dashboard
    description: User-customizable dashboard widget layout.
  - name: Insights
    description: AI-generated insights, classifications (BMI, BP, mood, etc.), per-metric status, target ranges.
  - name: Achievements
    description: Gamification achievements (streaks, milestones).
  - name: DoctorReport
    description: Aggregated health data for client-side PDF export.
  - name: Integrations
    description: Withings, moodLog, Codex (ChatGPT) OAuth integrations.
  - name: User
    description: User-level configuration (AI provider, threshold overrides).
  - name: Tokens
    description: User-issued API tokens for external ingest.
  - name: Notifications
    description: Notification channels and preferences (Telegram, ntfy, Web Push).
  - name: Onboarding
    description: First-run profile setup.
  - name: Health
    description: Service health probe.
  - name: Settings
    description: Per-user settings (account deletion, data wipe, integrations, notifications).
  - name: Analytics
    description: Aggregated analytics summaries.
  - name: Export
    description: User data export (CSV/JSON) and re-import.
  - name: AuditLog
    description: User-facing audit log of own activity.
  - name: Feedback
    description: User feedback submission and history.
  - name: BugReport
    description: User bug reports (creates a GitHub issue when configured).
  - name: Monitoring
    description: Public monitoring/error reporting endpoints (CSP, Glitchtip, Umami proxy).
  - name: Webhooks
    description: Inbound webhooks (Withings, moodLog, Telegram).
  - name: Ingest
    description: External ingest endpoints authenticated via Bearer token.
  - name: Admin
    description: Internal admin-only endpoints. Not consumed by the iOS client.

security:
  - bearerAuth: []
  - sessionCookie: []

paths:
  # ─── Auth ────────────────────────────────────────────────────────
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new user (password)
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponseEnvelope'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login with email/username + password
      operationId: loginUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginInput' }
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponseEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: Destroy current session
      operationId: logoutUser
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          loggedOut: { type: boolean }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/CurrentUser' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/profile:
    put:
      tags: [Auth]
      summary: Update profile (email, height, DOB, gender)
      operationId: updateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfileInput' }
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/password:
    post:
      tags: [Auth]
      summary: Change password (invalidates other sessions)
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangePasswordInput' }
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          changed: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/auth/registration-status:
    get:
      tags: [Auth]
      summary: Whether public registration is enabled
      operationId: getRegistrationStatus
      security: []
      responses:
        '200':
          description: Registration status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          registrationEnabled: { type: boolean }

  # ─── Passkeys (WebAuthn) ───────────────────────────────────────
  /api/auth/passkey/register-options:
    post:
      tags: [Auth]
      summary: Begin passkey registration — get WebAuthn options
      operationId: getPasskeyRegisterOptions
      responses:
        '200':
          description: WebAuthn registration options
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PasskeyRegisterOptions' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/passkey/register-verify:
    post:
      tags: [Auth]
      summary: Complete passkey registration — verify attestation
      operationId: verifyPasskeyRegistration
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasskeyVerifyRegistrationInput' }
      responses:
        '200':
          description: Passkey registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          verified: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/auth/passkey/login-options:
    post:
      tags: [Auth]
      summary: Begin passkey login — get WebAuthn options
      operationId: getPasskeyLoginOptions
      security: []
      responses:
        '200':
          description: WebAuthn authentication options
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PasskeyLoginOptions' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/auth/passkey/login-verify:
    post:
      tags: [Auth]
      summary: Complete passkey login — verify assertion
      operationId: verifyPasskeyLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PasskeyVerifyLoginInput' }
      responses:
        '200':
          description: Authenticated via passkey
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponseEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/auth/passkeys:
    get:
      tags: [Auth]
      summary: List the user's passkeys
      operationId: listPasskeys
      responses:
        '200':
          description: List of passkeys
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/PasskeySummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/passkeys/{id}:
    delete:
      tags: [Auth]
      summary: Delete a passkey
      operationId: deletePasskey
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          success: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─── Codex (ChatGPT) OAuth ────────────────────────────────────
  /api/auth/codex/authorize:
    get:
      tags: [Integrations]
      summary: Begin ChatGPT OAuth flow (redirects to ChatGPT)
      operationId: codexAuthorize
      responses:
        '302':
          description: Redirect to ChatGPT auth URL
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/auth/codex/callback:
    get:
      tags: [Integrations]
      summary: ChatGPT OAuth callback — exchange code for tokens
      operationId: codexCallback
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
        - in: query
          name: error
          schema: { type: string }
      responses:
        '302':
          description: Redirect back to /settings with status
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/auth/codex/disconnect:
    delete:
      tags: [Integrations]
      summary: Disconnect ChatGPT integration
      operationId: codexDisconnect
      responses:
        '200':
          description: Disconnected
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          disconnected: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ─── Measurements ────────────────────────────────────────────────
  /api/measurements:
    get:
      tags: [Measurements]
      summary: List measurements (paginated, filterable)
      operationId: listMeasurements
      parameters:
        - in: query
          name: type
          schema: { $ref: '#/components/schemas/MeasurementType' }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - in: query
          name: sortBy
          schema:
            type: string
            enum: [type, value, measuredAt, source]
            default: measuredAt
        - in: query
          name: sortDir
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: List of measurements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          measurements:
                            type: array
                            items: { $ref: '#/components/schemas/Measurement' }
                          meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/ServerError' }
    post:
      tags: [Measurements]
      summary: Create a measurement (single or batch)
      operationId: createMeasurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateMeasurementInput'
                - type: array
                  items: { $ref: '#/components/schemas/CreateMeasurementInput' }
                  minItems: 1
                  maxItems: 5
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - $ref: '#/components/schemas/Measurement'
                          - type: array
                            items: { $ref: '#/components/schemas/Measurement' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '500': { $ref: '#/components/responses/ServerError' }

  /api/measurements/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Measurements]
      summary: Get a single measurement
      operationId: getMeasurement
      responses:
        '200':
          description: Measurement
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Measurement' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Measurements]
      summary: Update a measurement
      operationId: updateMeasurement
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateMeasurementInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Measurement' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Measurements]
      summary: Delete a measurement
      operationId: deleteMeasurement
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─── Medications ─────────────────────────────────────────────────
  /api/medications:
    get:
      tags: [Medications]
      summary: List medications (with today's intake summary)
      operationId: listMedications
      responses:
        '200':
          description: List
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/MedicationWithSchedules' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Medications]
      summary: Create a medication with schedules
      operationId: createMedication
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMedicationInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationWithSchedules' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/medications/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Medications]
      summary: Get a single medication
      operationId: getMedication
      responses:
        '200':
          description: Medication
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationWithSchedules' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Medications]
      summary: Update a medication
      operationId: updateMedication
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateMedicationInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationWithSchedules' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Medications]
      summary: Delete a medication (revokes its API tokens)
      operationId: deleteMedication
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/medications/{id}/intake:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Medications]
      summary: List intake events for a medication
      operationId: listMedicationIntakes
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - in: query
          name: sortBy
          schema:
            type: string
            enum: [scheduledFor, takenAt, source, createdAt]
            default: scheduledFor
        - in: query
          name: sortDir
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          events:
                            type: array
                            items: { $ref: '#/components/schemas/MedicationIntakeEvent' }
                          meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    post:
      tags: [Medications]
      summary: Log a medication intake or skip
      operationId: createMedicationIntake
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateIntakeInput' }
      responses:
        '200':
          description: Idempotent return of existing event
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationIntakeEvent' }
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationIntakeEvent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/medications/{id}/intake/{eventId}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
      - in: path
        name: eventId
        required: true
        schema: { type: string }
    put:
      tags: [Medications]
      summary: Update an intake event
      operationId: updateMedicationIntake
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateIntakeInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationIntakeEvent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Medications]
      summary: Delete an intake event
      operationId: deleteMedicationIntake
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/medications/{id}/intake/import:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    post:
      tags: [Medications]
      summary: Bulk-import historical intakes for one medication
      operationId: importMedicationIntakes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items: { $ref: '#/components/schemas/IntakeImportEntry' }
                  minItems: 1
                  maxItems: 1000
                - type: object
                  description: Object whose first array-valued property is treated as the entries.
                  additionalProperties: true
      responses:
        '201':
          description: Import result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/IntakeImportResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/medications/{id}/intake/purge:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    delete:
      tags: [Medications]
      summary: Delete ALL intake events for a medication
      operationId: purgeMedicationIntakes
      responses:
        '200':
          description: Purged
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          purged: { type: boolean }
                          count: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/medications/{id}/compliance:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Medications]
      summary: Compliance summary for a medication (7d, 30d, 90 daily)
      operationId: getMedicationCompliance
      responses:
        '200':
          description: Compliance
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationComplianceResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/medications/{id}/phase-config:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Medications]
      summary: Get reminder-phase config (or defaults)
      operationId: getPhaseConfig
      responses:
        '200':
          description: Phase config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ReminderPhaseConfig' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Medications]
      summary: Update reminder-phase config
      operationId: updatePhaseConfig
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReminderPhaseConfig' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ReminderPhaseConfig' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Medications]
      summary: Reset reminder-phase config to defaults
      operationId: resetPhaseConfig
      responses:
        '200':
          description: Reset
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          reset: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/medications/{id}/api-endpoint:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Medications]
      summary: Whether an external API token is enabled for this medication
      operationId: getMedicationApiEndpoint
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          enabled: { type: boolean }
                          activeTokenCount: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Medications]
      summary: Enable / disable a medication-scoped API token
      operationId: setMedicationApiEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled: { type: boolean }
              required: [enabled]
      responses:
        '200':
          description: Existing token reused or revocation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationApiEndpointResponse' }
        '201':
          description: New medication-scoped token created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationApiEndpointResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/medications/intake-summary:
    get:
      tags: [Medications]
      summary: Daily intake summary (for streak chart)
      operationId: getIntakeSummary
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/IntakeSummaryResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ─── Mood ─────────────────────────────────────────────────────
  /api/mood-entries:
    get:
      tags: [Mood]
      summary: List mood entries (paginated, filterable)
      operationId: listMoodEntries
      parameters:
        - in: query
          name: mood
          schema: { $ref: '#/components/schemas/MoodLevel' }
        - in: query
          name: from
          description: 'YYYY-MM-DD lower bound (inclusive).'
          schema: { type: string }
        - in: query
          name: to
          description: 'YYYY-MM-DD upper bound (inclusive).'
          schema: { type: string }
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - in: query
          name: sortBy
          schema: { type: string, default: moodLoggedAt }
        - in: query
          name: sortDir
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        '200':
          description: Mood entries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          entries:
                            type: array
                            items: { $ref: '#/components/schemas/MoodEntry' }
                          meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    post:
      tags: [Mood]
      summary: Create a mood entry
      operationId: createMoodEntry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateMoodEntryInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MoodEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/mood-entries/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags: [Mood]
      summary: Get a mood entry
      operationId: getMoodEntry
      responses:
        '200':
          description: Mood entry
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MoodEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Mood]
      summary: Update a mood entry
      operationId: updateMoodEntry
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateMoodEntryInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MoodEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Mood]
      summary: Delete a mood entry
      operationId: deleteMoodEntry
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/mood/analytics:
    get:
      tags: [Mood]
      summary: Mood analytics (daily averages + summary)
      operationId: getMoodAnalytics
      responses:
        '200':
          description: Analytics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MoodAnalytics' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── Dashboard ────────────────────────────────────────────────
  /api/dashboard/widgets:
    get:
      tags: [Dashboard]
      summary: Get the resolved dashboard widget layout
      operationId: getDashboardWidgets
      responses:
        '200':
          description: Layout
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DashboardLayout' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Dashboard]
      summary: Replace the dashboard widget layout
      operationId: updateDashboardWidgets
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DashboardLayout' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DashboardLayout' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Dashboard]
      summary: Reset dashboard layout to defaults
      operationId: resetDashboardWidgets
      responses:
        '200':
          description: Reset
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DashboardLayout' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── Insights ────────────────────────────────────────────────
  /api/insights/comprehensive:
    get:
      tags: [Insights]
      summary: Comprehensive 90-day analytics bundle
      operationId: getComprehensiveInsights
      responses:
        '200':
          description: Insights bundle
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ComprehensiveInsights' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/generate:
    post:
      tags: [Insights]
      summary: Generate AI-narrative insights (cached for 24h)
      operationId: generateInsights
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force: { type: boolean, description: 'Bypass 24h cache' }
      responses:
        '200':
          description: Insights
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightGenerateResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '502':
          description: Upstream AI provider failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  /api/insights/settings:
    get:
      tags: [Insights]
      summary: Get insights settings (privacy mode, provider status)
      operationId: getInsightsSettings
      responses:
        '200':
          description: Settings
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightsSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Insights]
      summary: Update insights settings (privacy mode)
      operationId: updateInsightsSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                privacyMode: { type: string, enum: [aggregated, raw] }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          updated: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/insights/targets:
    get:
      tags: [Insights]
      summary: Per-metric target ranges + classification
      operationId: getInsightTargets
      responses:
        '200':
          description: Targets
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightTargetsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/blood-pressure-status:
    get:
      tags: [Insights]
      summary: BP-specific narrative status
      operationId: getBloodPressureStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: BP status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/bmi-status:
    get:
      tags: [Insights]
      summary: BMI narrative status
      operationId: getBmiStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: BMI status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/general-status:
    get:
      tags: [Insights]
      summary: General health narrative status
      operationId: getGeneralStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/medication-compliance-status:
    get:
      tags: [Insights]
      summary: Medication compliance narrative status
      operationId: getMedicationComplianceStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/mood-status:
    get:
      tags: [Insights]
      summary: Mood narrative status
      operationId: getMoodStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/pulse-status:
    get:
      tags: [Insights]
      summary: Pulse narrative status
      operationId: getPulseStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/insights/weight-status:
    get:
      tags: [Insights]
      summary: Weight narrative status
      operationId: getWeightStatus
      parameters:
        - $ref: '#/components/parameters/LocaleParam'
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/InsightStatusBundle' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── Achievements ─────────────────────────────────────────────
  /api/gamification/achievements:
    get:
      tags: [Achievements]
      summary: Get achievements progress + unlocks
      operationId: getAchievements
      responses:
        '200':
          description: Achievements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AchievementsResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── DoctorReport ─────────────────────────────────────────────
  /api/doctor-report:
    post:
      tags: [DoctorReport]
      summary: Aggregated health data for doctor-report PDF
      operationId: getDoctorReport
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                days:
                  type: integer
                  minimum: 1
                  maximum: 365
                  default: 90
      responses:
        '200':
          description: Report data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DoctorReportResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ─── Onboarding ───────────────────────────────────────────────
  /api/onboarding/complete:
    post:
      tags: [Onboarding]
      summary: Mark onboarding complete and save initial profile
      operationId: completeOnboarding
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OnboardingInput' }
      responses:
        '200':
          description: Completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          completed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ─── Health probe ─────────────────────────────────────────────
  /api/health:
    get:
      tags: [Health]
      summary: Service liveness probe
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }
        '503':
          description: Degraded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }

  # ─── Tokens ──────────────────────────────────────────────────
  /api/tokens:
    get:
      tags: [Tokens]
      summary: List the user's API tokens (metadata only — secrets never returned)
      operationId: listTokens
      responses:
        '200':
          description: Tokens
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ApiTokenSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Tokens]
      summary: Create an API token (token returned ONCE)
      operationId: createToken
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTokenInput' }
      responses:
        '201':
          description: Created (token visible once)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token: { type: string, example: 'hlk_<hex>' }
                          name: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/tokens/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    delete:
      tags: [Tokens]
      summary: Revoke an API token
      operationId: revokeToken
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          revoked: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─── Ingest (external) ────────────────────────────────────────
  /api/ingest/medication:
    post:
      tags: [Ingest]
      summary: External medication intake ingest (Bearer token, idempotent)
      operationId: ingestMedicationIntake
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExternalIntakeInput' }
      responses:
        '200':
          description: Existing event returned (idempotent replay)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationIntakeEvent' }
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MedicationIntakeEvent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ─── Notifications ────────────────────────────────────────────
  /api/notifications/preferences:
    get:
      tags: [Notifications]
      summary: List notification channels + preferences
      operationId: getNotificationPreferences
      responses:
        '200':
          description: Preferences
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/NotificationPreferencesResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Notifications]
      summary: Toggle a single channel/event preference
      operationId: updateNotificationPreference
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateNotificationPreferenceInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/NotificationPreference' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/notifications/vapid:
    get:
      tags: [Notifications]
      summary: Get VAPID public key (Web Push)
      operationId: getVapidKey
      security: []
      responses:
        '200':
          description: VAPID key
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          publicKey: { type: string }
        '503':
          description: Not configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  /api/notifications/web-push:
    post:
      tags: [Notifications]
      summary: Subscribe a Web Push endpoint
      operationId: subscribeWebPush
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebPushSubscribeInput' }
      responses:
        '200':
          description: Subscribed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          subscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Notifications]
      summary: Unsubscribe a Web Push endpoint
      operationId: unsubscribeWebPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoint: { type: string, format: uri }
              required: [endpoint]
      responses:
        '200':
          description: Unsubscribed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          unsubscribed: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ─── User configuration ───────────────────────────────────────
  /api/user/ai-provider:
    get:
      tags: [User]
      summary: Get user-level AI provider config
      operationId: getUserAiProvider
      responses:
        '200':
          description: Config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserAiProvider' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [User]
      summary: Update user-level AI provider config
      operationId: updateUserAiProvider
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserAiProviderInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          updated: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/user/thresholds:
    get:
      tags: [User]
      summary: Get effective + override threshold ranges
      operationId: getThresholds
      responses:
        '200':
          description: Thresholds
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ThresholdsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [User]
      summary: Set per-metric threshold overrides (partial)
      operationId: updateThresholds
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ThresholdOverrides' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          overrides: { $ref: '#/components/schemas/ThresholdOverrides' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [User]
      summary: Reset threshold overrides (all or one metric)
      operationId: resetThresholds
      parameters:
        - in: query
          name: metric
          schema: { type: string }
          description: 'If supplied, only this metric is reset; otherwise all overrides are cleared.'
      responses:
        '200':
          description: Reset
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          overrides: { $ref: '#/components/schemas/ThresholdOverrides' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── Analytics + AI test ──────────────────────────────────────
  /api/analytics:
    get:
      tags: [Analytics]
      summary: Per-type measurement summaries + BMI + BP-in-target
      operationId: getAnalytics
      responses:
        '200':
          description: Analytics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AnalyticsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/ai/test:
    post:
      tags: [User]
      summary: Test the configured AI provider
      operationId: testAiProvider
      responses:
        '200':
          description: AI test result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AiTestResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '502':
          description: Upstream AI provider failure
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  # ─── Export / Import ──────────────────────────────────────────
  /api/export:
    get:
      tags: [Export]
      summary: Export user data (CSV or JSON)
      operationId: exportData
      parameters:
        - in: query
          name: format
          schema: { type: string, enum: [csv, json], default: json }
        - in: query
          name: type
          schema:
            type: string
            enum: [measurements, medications, intake, mood, all]
            default: all
      responses:
        '200':
          description: Export payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
            text/csv:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/import:
    post:
      tags: [Export]
      summary: Import previously exported data (JSON)
      operationId: importData
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImportInput' }
      responses:
        '200':
          description: Import stats
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ImportResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ─── Audit log + Feedback + Bug report ────────────────────────
  /api/audit-log:
    get:
      tags: [AuditLog]
      summary: Personal audit log entries
      operationId: getAuditLog
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Entries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AuditLogResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/feedback:
    get:
      tags: [Feedback]
      summary: List the user's submitted feedback
      operationId: listFeedback
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Feedback
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/FeedbackSummary' }
                          meta: { $ref: '#/components/schemas/PageMeta' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Feedback]
      summary: Submit feedback (with optional screenshot)
      operationId: submitFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateFeedbackInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/FeedbackSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/bugreport:
    post:
      tags: [BugReport]
      summary: File a bug report (creates a GitHub issue when configured)
      operationId: submitBugReport
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BugReportInput' }
      responses:
        '200':
          description: Issue created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          issueNumber: { type: integer }
                          issueUrl: { type: string, format: uri }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/ServerError' }
        '503':
          description: Bug report not configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  /api/bugreport/status:
    get:
      tags: [BugReport]
      summary: Whether bug-report submission is configured
      operationId: getBugReportStatus
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          configured: { type: boolean }
                          isAdmin: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ─── Settings (per-user) ──────────────────────────────────────
  /api/settings/account:
    delete:
      tags: [Settings]
      summary: Delete the user's account (and all data)
      operationId: deleteAccount
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/data:
    delete:
      tags: [Settings]
      summary: Wipe the user's data (keep account)
      operationId: wipeData
      responses:
        '200':
          description: Data wiped
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/global-services:
    get:
      tags: [Settings]
      summary: Global service availability flags (telegram, ntfy, web-push, …)
      operationId: getGlobalServices
      responses:
        '200':
          description: Flags
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/GlobalServicesFlags' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/moodlog:
    put:
      tags: [Settings]
      summary: Configure moodLog integration
      operationId: updateMoodLogSettings
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MoodLogSettingsInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdatedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Settings]
      summary: Disconnect moodLog integration
      operationId: deleteMoodLogSettings
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/ntfy:
    get:
      tags: [Settings]
      summary: Get ntfy channel settings
      operationId: getNtfySettings
      responses:
        '200':
          description: Config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/NtfySettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Settings]
      summary: Update ntfy channel settings
      operationId: updateNtfySettings
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NtfySettingsInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdatedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/settings/ntfy/test:
    post:
      tags: [Settings]
      summary: Send a test ntfy notification
      operationId: testNtfy
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/reminder-thresholds:
    get:
      tags: [Settings]
      summary: Get reminder lateness thresholds (admin-defined defaults)
      operationId: getReminderThresholds
      responses:
        '200':
          description: Thresholds
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ReminderThresholds' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/settings/telegram:
    get:
      tags: [Settings]
      summary: Get Telegram channel settings
      operationId: getTelegramSettings
      responses:
        '200':
          description: Config
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/TelegramSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Settings]
      summary: Update Telegram channel settings
      operationId: updateTelegramSettings
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TelegramSettingsInput' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdatedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/settings/telegram/test:
    post:
      tags: [Settings]
      summary: Send a test Telegram message
      operationId: testTelegram
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ─── Withings integration ────────────────────────────────────
  /api/withings/connect:
    get:
      tags: [Integrations]
      summary: Begin Withings OAuth (302 redirect)
      operationId: withingsConnect
      responses:
        '302':
          description: Redirect to Withings
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/withings/callback:
    get:
      tags: [Integrations]
      summary: Withings OAuth callback (302 to /settings)
      operationId: withingsCallback
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '302':
          description: Redirect back to /settings with status

  /api/withings/disconnect:
    post:
      tags: [Integrations]
      summary: Disconnect Withings
      operationId: withingsDisconnect
      responses:
        '200':
          description: Disconnected
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          disconnected: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/withings/credentials:
    get:
      tags: [Integrations]
      summary: Whether Withings client credentials are stored
      operationId: getWithingsCredentialsStatus
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          hasCredentials: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: [Integrations]
      summary: Save Withings client ID + secret (encrypted)
      operationId: saveWithingsCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WithingsCredentialsInput' }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpdatedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [Integrations]
      summary: Delete Withings credentials (and disconnect)
      operationId: deleteWithingsCredentials
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeletedEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/withings/status:
    get:
      tags: [Integrations]
      summary: Withings connection status
      operationId: withingsStatus
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/WithingsStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/withings/sync:
    post:
      tags: [Integrations]
      summary: Trigger a Withings sync (incremental or full)
      operationId: withingsSync
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fullSync: { type: boolean, default: false }
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          imported: { type: integer }
                          fullSync: { type: boolean }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/withings/webhook:
    post:
      tags: [Webhooks]
      summary: Withings webhook (notification of new measurements)
      operationId: withingsWebhook
      security: []
      parameters:
        - in: query
          name: secret
          schema: { type: string }
          description: 'Shared secret for webhook authentication.'
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '401':
          description: Unauthorized
        '429':
          description: Rate limited
    get:
      tags: [Webhooks]
      summary: Withings webhook URL verification
      operationId: withingsWebhookVerifyGet
      security: []
      parameters:
        - in: query
          name: secret
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
        '401':
          description: Unauthorized
    head:
      tags: [Webhooks]
      summary: Withings webhook URL verification (HEAD)
      operationId: withingsWebhookVerifyHead
      security: []
      parameters:
        - in: query
          name: secret
          schema: { type: string }
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized

  # ─── moodLog integration ─────────────────────────────────────
  /api/integrations/moodlog/status:
    get:
      tags: [Integrations]
      summary: moodLog connection status
      operationId: moodLogStatus
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/MoodLogStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/integrations/moodlog/sync:
    post:
      tags: [Integrations]
      summary: Trigger a moodLog sync
      operationId: moodLogSync
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fullSync: { type: boolean, default: false }
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          imported: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/integrations/moodlog/webhook:
    post:
      tags: [Webhooks]
      summary: Inbound webhook from moodLog
      operationId: moodLogWebhook
      security: []
      parameters:
        - in: header
          name: X-Webhook-Secret
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Acknowledged
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/telegram/webhook:
    post:
      tags: [Webhooks]
      summary: Telegram inbound webhook
      operationId: telegramWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Acknowledged
    get:
      tags: [Webhooks]
      summary: Telegram webhook health probe
      operationId: telegramWebhookGet
      security: []
      responses:
        '200':
          description: OK

  # ─── Public monitoring / proxies ─────────────────────────────
  /api/monitoring/csp-report:
    post:
      tags: [Monitoring]
      summary: Browser CSP violation report sink
      operationId: cspReport
      security: []
      requestBody:
        required: true
        content:
          application/csp-report:
            schema:
              type: object
              additionalProperties: true
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: Accepted (no body)

  /api/monitoring/glitchtip:
    post:
      tags: [Monitoring]
      summary: Forward errors to Glitchtip
      operationId: glitchtipReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: Accepted

  /api/monitoring/settings:
    get:
      tags: [Monitoring]
      summary: Public monitoring settings (umami / glitchtip flags)
      operationId: getMonitoringSettings
      security: []
      responses:
        '200':
          description: Public settings
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PublicMonitoringSettings' }

  /api/monitoring/umami-script:
    get:
      tags: [Monitoring]
      summary: Server-side proxy for the Umami tracker script
      operationId: getUmamiScript
      security: []
      responses:
        '200':
          description: Tracker script
          content:
            application/javascript:
              schema: { type: string }

  /api/send:
    post:
      tags: [Monitoring]
      summary: Server-side proxy for Umami /api/send
      operationId: umamiProxySend
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Forwarded
        '204':
          description: No-op when umami is disabled
        '413':
          description: Payload too large

  # ─── Admin (internal) ────────────────────────────────────────
  /api/admin/ai-settings:
    get:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: get admin-managed AI fallback settings'
      operationId: adminGetAiSettings
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: update admin-managed AI fallback settings'
      operationId: adminUpdateAiSettings
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/admin/audit-log:
    get:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: cross-user audit log'
      operationId: adminGetAuditLog
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/data:
    delete:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: wipe per-user or all data'
      operationId: adminWipeData
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/feedback:
    get:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: list all feedback'
      operationId: adminListFeedback
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/feedback/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    patch:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: update feedback status / admin note'
      operationId: adminUpdateFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: delete feedback'
      operationId: adminDeleteFeedback
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/admin/feedback/{id}/github:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    post:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: escalate feedback to a GitHub issue'
      operationId: adminEscalateFeedback
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/admin/monitoring/glitchtip-test:
    post:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: send Glitchtip test event'
      operationId: adminGlitchtipTest
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/monitoring/umami-test:
    post:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: send Umami test ping'
      operationId: adminUmamiTest
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/notifications/reminder-check:
    post:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: trigger medication reminder evaluation'
      operationId: adminTriggerReminderCheck
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/notifications/test:
    post:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: send a test notification'
      operationId: adminTestNotification
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/admin/settings:
    get:
      tags: [Admin]
      security:
        - sessionCookie: []
      summary: 'Internal: get app-wide settings'
      operationId: adminGetSettings
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ApiEnvelope' } } } }
[...]
